*{
    margin: 0%;
    padding: 0%;
}
/* nav h1{
    color:chocolate;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 10px;
}

#btn {
    display: block;
    margin: 0 auto;
}

body{

    background: #000;
    color: white;
}

nav{
    background: rgb(50, 50, 50);
    margin-top: 50px;
}

box {
    margin: 15px;
    color: #030303;
    background: wheat;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(52, 52, 52);
    border-radius: 25px;
    width: 80vw;  Set the width as a percentage of the viewport width 
    max-width: auto;  Limit the maximum width 
    overflow: hidden;  Hide content that overflows the container 
    margin: 0 auto;  Center the container horizontally 
margin-top: 3%;
}
#btn{
    height: 50px;
    width: 100px;
    margin-top: 3%;
    border-radius: 18px;
}
 */

